* {
  margin: 0;
  padding: 0;
  font-family: 'Arial';
}

.hero {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 60px;
}

#active-link {
  color: #29518a;
  font-size:35px;
  background-color: #7bc5ed;
  border-radius: 10%;
  padding: 10px;
  opacity: .8;
}
.container {
  position: relative;
  text-align: center;
  color: white;
  height: 300px;
}


.nav-li {
  list-style-type: none;
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Arial";
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 30px;
}



.nav-link:hover {
  color: #29518a;
  font-size:35px;
  background-color: #7bc5ed;
  border-radius: 10%;
  padding: 10px;
  opacity: .8;
}


.nav-ul {
  position: absolute;
  bottom: 120px;
  right: 100px;
  z-index: 1;

}
li a:focus {
  color: #29518a;
}

#about {
  font-size: 60;
  font-family: "Arial";
  position: absolute;
  bottom: 100px;
  left: 100px;
  z-index: 1;
}

.about-section, .resume-main, .contact-main, .project-main {
  background-color:#7bc5ed;
  color: #FFFFFF;
  padding: 100px;
  font-size: 20px;
  justify-content: right;
}
.profile-picture {
  width: 200px;
  height: auto;
  margin: 20px;
}

Header {
  margin: 0;
}

Footer {
  margin: 0 40%;
  background-color: #e7717d;
}
.footer-link {
  display: inline-block;
  width: 100px;
  height: 60px;
  transition-duration: 0.3s;
}

.footer-link:hover {
  transition-duration: 0.3s;
  opacity: 0.5;
}

#github {
  margin-left: 40%;
}

.proficiency-list {
  margin-left: 40px;
}

.card-img-container {
  position: relative;
  
}

.card-img {
  width: 600px;
  height: 400px;
  margin: 20px 20%
}

.overlay {
  position: absolute;
  bottom: 0;
  right: 100px;
  background: rgb(0, 0, 0);
  background: rgba(255, 255, 255, 0.8); /* Black see-through */
  color: #f1f1f1;
  width: 45%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  margin: 30px 23.5%;
}

.card-img-container:hover  .overlay {
  opacity: 1;
}

.contact-container {
  border-bottom: 1px solid;
}

.overlay a {
  text-decoration: none;
  color: #e7717d;
}

.overlay a:hover {
  text-decoration: underline;
}


.project-name {
  margin-left: 20%;
}
.contact-form {
  width: 100%;
  display: flex;
  align-items: left;
  padding: 10px;
  margin: 10px;
  flex-direction: column;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--primary);
  outline: none;
  transition: box-shadow 0.2s;
  width: 500px;
}


textarea {
	width: 500px;
	height: 120px;
  padding: 5px;
  border: 1px solid var(--primary);
}

button {
	background: #ffffff;
	border: 0;
	color:#29518a;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
  padding: 10px 15px;	
  width: 500px;
}

button:hover {
  opacity: .6;
  font-size:20px;
}

.resume-link a {
  color: #29518a;
  text-decoration: none;
  font-size: 30px;
}